<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/CSS">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Confirm</title>
</head>

<body>
    <div style="align-content: center;">
        <br><br><br>
        <h1>Confirmation</h1>
        <form action="{% url 'homepage:confirmation' %}" method='POST'>
            {% csrf_token %}
            <div class="form-row">
                <div class="col-sm"></div>
                <div class="form-group col-sm-8">
                    <label for="name" class="form-label">Name: {{ name }}</label>
                    <input class="form-control" id="name" type="hidden" name="name" value="{{ name }}">
                    <br>
                    <label for="status" class="form-label">Status: {{ status }}</label>
                    <input class="form-control" id="status" type="hidden" name="status" value="{{ status }}">
                </div>
                <div class="col-sm"></div>
            </div>
            <div class="row">
                <button type="submit" class="btn submit" name="save">Save</button>
                <a class="btn submit" href="{% url 'homepage:index' %}" role="button" name="back">Back</a>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>